$color-base1: red;
$color-base2: blue;
$color-base3: green;
$font-box-base-color: white;
$font-blackness: bolder;
@mixin box-color-properties() {
  color: darken($color: $font-box-base-color, $amount: 25%);
  font-weight: $font-blackness;
}
