@use "base" as *;

$colors: $color-base1, $color-base2, $color-base3;

@for $k from 1 through length($colors) {
  $color: nth($colors, $k);

  @for $i from 1 through 4 {
    .base-color#{$k} {
      background-color: $color;
      color: $font-box-base-color;
      width: 100px;
    }
    .darken-#{$i}-base-color#{$k} {
      background-color: darken($color, $i * 10%);
      @include box-color-properties;
    }

    .lighten-#{$i}-base-color#{$k} {
      background-color: lighten($color, percentage(calc($i / 10)));
      @include box-color-properties;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      width: 100vw;
      height: 100vh;
    }

    .container-1 {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      gap: 13px;

      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding: 8px;
        border-radius: 5px;
      }
    }
  }
}
.container-2 {
  @extend .container-1;
}

.container-3 {
  @extend .container-1;
}
